<div ng-app="pagPoli" ng-controller="ocultar">
	<div class="btn-group">
            <label class="btn btn-primary radrojo">
                <input type="radio" ng-click="mostrar()" ng-model="t" name="options" value="1" checked>[eva0]
            </label>
            <label class="btn btn-primary radama">
                <input type="radio" ng-click="mostrar()" ng-model="t" name="options" value="2"> [eva1]
            </label>
            <label class="btn btn-primary radazul">
                <input type="radio" ng-click="mostrar()" ng-model="t" name="options" value="3"> [eva2]
            </label>
             <label class="btn btn-primary radverde">
                <input type="radio" ng-click="mostrar()" ng-model="t" name="options" value="4"> [todos]
            </label>
        </div>
	<table class="table">
	<tr>
		<th>[name]</th>
		<th>[status]</th>
		<th>[cant]</th>
 	</tr>
 	<?php foreach ($arr as $key => $value): ?>
 		<?php if(($value['nom_pro'] != '') or ($value['nom_pro'] != 0)):?>
	 		<tr ng-if="eva<?=$value['cin']?>">
	 			<td><?=utf8_encode($value['nom_pro'])?></td>
	 			<?php if ($value['cin']==0):?> 
	 				<td><a href="index.php/lis_maestos/<?= $value['cod_prof']?>"><span class="label label-danger">[eva0]</span></a></td>
	 			<?php elseif ($value['cin']==1) :?>
	 				<td><a href="index.php/lis_maestos/<?= $value['cod_prof']?>"><span class="label label-warning">[eva1]</span></a></td>
	 			<?php else:?>
	 				<td><a href="index.php/lis_maestos/<?= $value['cod_prof']?>"><span class="label label-primary">[eva2]</span></a></td>
	 			<?php endif;?>
	 			<td><span class="badge pull-right"><?=$value['COUNT(*)']?></span></td>
	 		</tr>
 		<?php endif;?>
 	<?php endforeach;?>
</table>
</div>
